[submodule "Windows/vendor/glfw"]
	path = Windows/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/spurious/SDL-mirror
